body {
  font-family: Arial;
  background-color: skyblue;
  overscroll-behavior: none;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
